<cfinclude template="./includes/accesscontrol.cfm" /> 



<cfif structkeyExists(url,'ratingID')>
	
	<cfoutput >
		url.ratingID: #url.ratingID#
	</cfoutput>
	<cfset application.ratingService.DeleteRating(url.ratingID)>
	<cflocation url="/ratings.cfm" />

	
<cfelse>
	<cflocation url="/index.cfm?noaccess" />

</cfif>