<cfinclude template = "includes/accesscontrol.cfm">
<a href="/ratings.cfm"><button>Ratings</button></a>
<a href="/login.cfm?logout"><button>Logout</button></a>

<cfinclude template = "includes/head.cfm">
    
    <div>
    <p><cfoutput >Welcome #session.loggedInUser.name# !</cfoutput></p>

        <img class = "image" src="" ></img><h4>Here is a random Chuck Norris
        joke for you: </h4>
        <h3 class="joke"></h3>
        <br>


        <select class="categories">
            <option value="" disabled selected>Select</option>
        </select>
        <button onclick="NewJoke()">New joke</Button>

        <br>


        
    </div>
    <div>
      
        <p class="stars">
        <span>
            <a class="1" value = "1" href="#">1</a>
            <a class="2" value = "2" href="#">2</a>
            <a class="3" value = "3" href="#">3</a>
            <a class="4" value = "4" href="#">4</a>
            <a class="5" value = "5" href="#">5</a>
        </span>
        </p>
        <button onclick="Rate()">Rate the joke</Button>
  </div>


</body>
<script>
function Rate(){
  $.ajax({
            type:"POST",
            url:`/services/RatingService.cfc?method=AddRating&joke_url=${joke.url}&user_id=${<cfoutput>#session.loggedInUser.id#</cfoutput>}&rating=${rating}&returnformat=JSON`,
            success: function(data) {
                NewJoke();
            },
            error: function(err){
                console.log(err);
            }
        });
}
var rating = 0;
$('.stars a').on('click', function(){
    $('.stars span, .stars a').removeClass('active');

    $(this).addClass('active');
    rating = this.className[0];
    $('.stars span').addClass('active');
    });

</script>
</html>